services:
  app:
    build:
      context: .
      target: prod-coverage
    environment:
      ADDR: ":8080"
      EXTERNAL_URL: "http://wiremock:8080/status/204"
      GOCOVERDIR: "/coverage"
    volumes:
      - ./coverage:/coverage
    depends_on:
      wiremock:
        condition: service_healthy

  wiremock:
    image: wiremock/wiremock:3.9.1
    ports:
      - "8081:8080"
    command: [ "--verbose" ]
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8080/__admin"]
      interval: 5s
      timeout: 2s
      retries: 20

  tests:
    build:
      context: .
      target: devtest
    environment:
      BASE_URL: "http://app:8080"
      WIREMOCK_URL: "http://wiremock:8080"
    depends_on:
      - app
    command: ["go", "test", "./test/blackbox", "-count=1", "-v"]
